@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');


.MainClass {

    display: grid;
    grid-template-columns: 1fr;
}

body {
    background-color: white;
    padding: 0;
    margin: 0;
}

.Nav {
    position: sticky;
    top: 0px;
    z-index: 10;
    padding: 10px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    padding: 1vh;
}

.MainNav {
    color: white;
    background-color: black;
}

.TopNav {
    margin: 0;
    padding: 10px;
}

.Title {
    color: white;
    margin-top: -5px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.byTag {
    font-size: 12px;
    color: white;
    margin-top: -30px;
    margin-left: 0;
}

.custom-shape-divider-top-1664679849 {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1664679849 svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 50px;
}

.custom-shape-divider-top-1664679849 .shape-fill {
    fill: #000000;
}


.BuildBetterApps {
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.BuildMessage {
    margin-top: -35px;
    text-align: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}



.buttonDownload {
    display: inline-block;
    position: relative;
    padding: 10px 25px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #4CC713;
    color: white;

    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    text-indent: 15px;
}

.buttonDownload:hover {
    background-color: #333;
    color: white;
}

.buttonDownload:before, .buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;

    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;

    animation: downloadArrow 2s linear infinite;
    animation-play-state: paused;
}

.buttonDownload:hover:before {
    border-color: #4CC713;
}

.buttonDownload:hover:after {
    border-top-color: #4CC713;
    animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {

    /* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
    0% {
        margin-top: -7px;
        opacity: 1;
    }

    0.001% {
        margin-top: -15px;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        margin-top: 0;
        opacity: 0;
    }
}

.centerFlex {

    align-items: center;
    display: flex;
    justify-content: center;
}



.webBtn {
    display: inline-block;
    position: relative;
    padding: 10px 25px;
    margin-right: 10px;
    background-color: #4CC713;
    color: white;
    border-radius: 5px;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
}

.webBtn:hover {
    background-color: #333;
    color: white;
}

.webBtn:before, .webBtn:after {
    content: ' ';
    display: block;
    position: absolute;

}


/* Download arrow shape */


.webBtn:hover:before {
    border-color: #4cc713;
}


.Content {
    position: relative;
    top: 10;
    left: 0;
    overflow: hidden;
    line-height: 7;
    width: 100%;
}

.whyMr {
    margin-left: 35px;
    font-size: 26px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

.Grid3x {

    margin-top: -90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.GridChild1x {

    margin: 10px;
    border-radius: 5px;
    background-color: rgb(222, 222, 222);
    justify-content: center;
    display: flex;
    flex-direction: column;
    column-gap: 0;
}

.GridChildinner {

    margin: 10px;

    justify-content: center;
    display: flex;
    flex-direction: row;
}

.GridChildicon {
    align-self: center;
    width: 20px;
    height: 20px;
}

.GridChildTitle {
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: normal;
}


.text {
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
    line-height: normal;
    max-height: none;
    min-height: 0px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}


.Grid2x {
    
    background-color: rgb(250, 250, 250);
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;

}



.space{
    height: 10vh;
}








.codeTitle{
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

.titleDocumentation{

    text-align: center;
    line-height: normal;
    max-height: none;
    min-height: 0px;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
}


table{
    margin-top: -250px;
    text-align: center;
    width: 100%;
   
}

.textsubtitle{
    text-align: center;
    line-height: normal;
    max-height: none;
    font-weight: 900;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.br {
    display: block;
    margin-bottom: -5em;
}

.wrapper {
    border:1px solid grey;
    padding: 10px;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    margin-top: -220px;
    margin-bottom: 250px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
overflow-wrap: break-word;
  }


  .tab__container {
    position: relative;
  }
  
  .tab__container > ul {
    position: absolute;
    list-style: none;
    margin: 0;
    right: 1rem;
    top: -2rem;
    padding-left: 0;
  }
  
  .tab__container .code {
    white-space: normal;
    padding: 1rem 1.5rem;
  }
  
  .tab {
    display: inline-block;
    padding: 0.3rem 0.5rem;
    font-weight: 200;
    cursor: pointer;
  }
  
  .tab.active {
    border-bottom: 1px solid var(--primary-color);
    font-weight: 700;
    display: inline-block;
  }
  
  .tab__pane {
    text-align: center;
    margin-top: -40px;
    display: none;
  }
  
  .tab__pane.active {
   
    display: block;
  }

  .text{
   text-align: center;
    line-height: normal;
    max-height: none;
   
  }

  .text1{
  
   
    font-weight: 900;
  margin-top: -50px;
  }

  .btmMargin{
    margin-bottom: 50px;
  }

  .footer {
    height: 10%;
    margin-top: -100px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  }



  .code{
    text-align: center;
    line-height: normal;
    max-height: none;
    font-weight: 100;
    font-style: italic;
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
  }

  @media (max-width: 800px) {
   
  
.Grid3x {

    margin-top: -90px;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.tab__pane {
    text-align: start;
    font-size: 10px;
    margin-top: -40px;
    display: none;
    
  }

  
  .code{
    font-style: italic;
    text-align: center;
    line-height: normal;
    max-height: none;
    font-weight: 100;
    font-family: 'Source Code Pro', monospace;
    font-size: 10px;
  }

  }
  
  

